h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    margin: 20px;
    padding: 0;
}
.work{
    float: left;
    width: 48%;
}
/*td {
    border-bottom: 1px solid #ccc;
    padding: 9px 8px;
    transition: .3s linear;
}
th {
    font-weight: normal;
    border-bottom: 2px solid #D3E6DD;
    padding: 10px 8px;
    background-color: #D3E6DD;
}
tr:hover td{
    background: #D3E6DD;
}*/
.skills{
    clear: left;
}
.cool{
    width: 100%;

    /* margin-left: 400px;*/
}
.contact{
    float: left;
    padding: 0;
    margin-left: 35%;
}
.photo{
    float: right;
    width: 50%;
    margin-bottom: 30px;
    padding: 0;
}
.education{
    clear: right;
    float: left;
    width: 48%;
}
.educ3{
    margin-left: 2%;
    margin-top: -0.5%;
}
.work1{

}
.work3{
    margin-left: 51%;
}

/*.educ1 {
    overflow: hidden;
    margin-left: 20px;
    margin-top: 3.1%;

}
.educ1 dt, .educ1 dd {
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 0.625em 0 0.875em;
    box-sizing: border-box;
}
dt {
    width: 10%;
    float: left;
    clear: right;
    background: #D3E6DD;
    font-weight: bold;
}
dd {
    width: 90%;
    float: right;
    margin-left: 0;
    margin-bottom: .3125em;
    border: 1px solid #BECFC7;
    border-left: none;
}

/*.icon{
    background-position: 0px 0px;
    width: 600px;
    height: 300px;
    float: left;
    background-image: url("http://psdsite.ru/wp-content/uploads/2013/10/Bez-imeni-1.jpg");
}
.iconvk .icon{
    background-position: 0 -16px;
}*/
.tab2{
    width: 100%;
}
.block1{
    width: 48%;
}
.block2{
    width: 48%;
}